:root{
  --foreground2:var(--foreground);
  --background2:var(--background):
}
body {
  margin: 10px;
  font-family: Inconsolata;
}
.text-input,
.text-output {
  font-family: Inconsolata;

  font-size: 32px;
  width: calc(100vw - 20px);
  text-align: center;
}
.text-output {
  word-wrap: break-word;
  margin: 0;
  margin-top: 15px;
  padding: 0;
}

.text-input {
  background-color: transparent;
  box-shadow: none;
  border: none;
  outline: none;
}
.alert,
.alert-error {
  display: inline-block;
  padding: 10px;
  font-size: 16px;
  border-radius: 4px;
  position: absolute;
  bottom: 10px;
  left: 50%;
  transform: translateX(-50%);
  opacity: 0;

  transition: opacity ease-out 400ms;
}
.alert-error {
  background-color: rgb(255, 86, 86);
  color: white;
}
.modal {
  height: calc(100vh - 20px);
  width: calc(100vw - 20px);
  padding: 10px;
  position: absolute;
  top: 0;
  left: 0;
  justify-content: center;
  align-items: center;
}
.modal.settings input {
  background-color: transparent;
  box-shadow: none;
  border: none;
  outline: none;
}
.modal.settings button {
  font-family: Inconsolata;
  display: inline;
  border: transparent;
  border-radius: 4px;
  padding: 10px;
  transition: ease-out 200ms;
  width: 100px;
  margin-top: 20px;
  margin-left: calc(100% - 100px);
}
.themes-options {
  display: flex;
  flex-wrap: nowrap;
}
.themes-options a {
  position: relative;
}
.themes-options .number {
  left: 50%;
  transform: translateX(-50%);
}
.modal i {
  font-size: 32px;
}
.modal a {
  user-select: none;
}
.menu-options {
  display: flex;
  flex-direction: row;
}
.menu-options a {
  position: relative;
  text-decoration: none;
  margin: 0 30px;
  display: flex;
  flex-direction: column;
  align-items: center;
  cursor: pointer;
}
.enigma {
  justify-content: center;
  display: flex;
  position: absolute;
  top: 50%;
  left: 50%;
  flex-direction: column;
  transform: translate(-50%, -50%);
}
.menu-options a span {
  margin: 10px;
}
.themes-options a span:not(.number) {
  margin: 10px;
  padding: 10px;
  border-radius: 4px;
  cursor: pointer;
}
.modal .number {
  display: none;
  position: absolute;
  top: -4ch;
  text-decoration: underline;
}
.text-input,
.text-output,
.modal * {
  color: var(--foreground);
}
.text-output::selection,
.text-input::selection,
.modal.settings input::selection,
.alert {
  background-color: var(--foreground);
  color: var(--background);
}


.modal.settings button{
color: var(--foreground);
background-color: var(--background);
border: solid 2px var(--foreground);
}
.modal.settings button:hover{
background-color: var(--foreground);
color: var(--background);
}
body,
.modal {
  background-color: var(--background);
}
