body {
  background-color: #333;
  margin: 10px;
}
.text-input,
.text-output {
  color: rgb(120, 214, 169);
  font-size: 24px;
  width: calc(100vw - 20px);
  font-family: inconsolata;
}
.text-output {
  word-wrap: break-word;
  margin: 0;
  margin-top: 15px;
  padding: 0;
}
.text-output::selection,
.text-input::selection {
  background-color: rgb(120, 214, 169);
  color: #333;
}
.text-input {
  background-color: transparent;
  box-shadow: none;
  border: none;
  outline: none;
}
.alert-copy,
.alert-error {
  display: inline-block;
  padding: 10px;
  font-size: 16px;
  font-family: inconsolata;
  border-radius: 4px;
  position: absolute;
  bottom: 10px;
  left: 50%;
  transform: translateX(-50%);
  opacity: 0;

  transition: opacity ease-out 400ms;
}
.alert-copy {
  background-color: rgb(120, 214, 169);
  color: #333;
}
.alert-error{
  background-color: rgb(255, 86, 86);
  color: white;
}