:root {
  --background: #fff;
  --forground: #000;
}

.text-input,
.text-output,
.modal * {
  color: var(--forground);
}
.text-output::selection,
.text-input::selection,
.modal.settings input::selection,
.alert {
  background-color: var(--forground);
  color: var(--background);
}


.modal.settings button{
color: var(--forground);
background-color: var(--background);
border: solid 2px var(--forground);
}
.modal.settings button:hover{
background-color: var(--forground);
color: var(--background);
}
body,
.modal {
  background-color: var(--background);
}